  .sms-form {
    text-align: left;
    padding: 1em;
    outline: 2px solid white;
    height: 430px;
  }
  .sms-form label {
    display: block;
  }
  .sms-form input,
  .sms-form textarea {
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
  }
  .sms-form div {
    margin-bottom: 0.5em;
  }
  .sms-form button {
    font-size: 1em;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    background-color: rgba(43, 255, 0, 0.712);
    color: white;
  }
  .sms-form.error {
    outline: 2px solid #f00;
  }